body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cor de fundo clara */
}

header {
    background-color: #000; /* Preto, cor principal do Corinthians */
    color: #fff; /* Texto branco */
    text-align: center;
    padding: 15px 0;
    border-bottom: 5px solid #f4f4f4; /* Linha branca na parte inferior do cabeçalho */
}

main {
    padding: 20px;
}

footer {
    background-color: #000; /* Preto */
    color: #fff; /* Texto branco */
    text-align: center;
    padding: 15px 0;
    border-top: 5px solid #f4f4f4; /* Linha branca na parte superior do rodapé */
}

h1, h2 {
    margin: 0;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #333; /* Cor do título das seções */
}
